body {
  font-family: sans-serif;
  background-color: aquamarine;
}
body h1 {
  text-align: center;
}

#totalMatchesYearwise
{
  min-width: 310px; 
  height: 400px; 
  margin: 50px auto
}
#matchesWonPerTeamPerYear
{
  min-width: 310px; 
  height: 600px; 
  margin: 50px auto
}
#extraRunPerTeam2016
{
  min-width: 310px; 
  height: 400px; 
  margin: 50px auto
}
#tenEconomicalBowler2015
{
  min-width: 310px; 
  height: 400px; 
  margin: 50px auto
}